.hero{
    width: 100%;
    padding: 2rem 0rem;
    /* background-color: rgb(64, 100, 131); */
    padding-top: 5rem;
}

.hero .wrapper-content{
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.heroDataP{
  
    font-size: 0.9rem;


}

.intro{
    font-size: 1.5rem;
    color: #14274E ;
    font-weight: 400;
    
}

.hero .text-area{
    padding: 0rem 4.8rem;
    flex: 1;
}


.hero .shop-btn{
    padding: 0.8rem 2rem;
    border-radius: 15px ;
    font-size: large;
    background-color:  rgb(243, 102, 131);
    color: white;
    border: none;
}

.hero-section-image {
    width: 50rem;
    flex: 1;
    
    
}
.hero-section-image .img-style{
   width: 34rem;
    
    
}

.hero-section-image img{
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}

.color-red{
    color: rgb(243, 102, 131);
}


/* media queries start */

/* sm device  */

@media only screen and (max-width: 600px){
 
    .hero .wrapper-content {
         display: flex;
         flex-direction : column;
         gap: 1.9rem;
        
        }

        .heroDataP{
  
            font-size: 0.8rem;
        
        
        }

        .hero .text-area{

            padding: 0rem 0.2rem;
            flex: 1 ;
        }

        .hero-section-image{
            width: 100%;
         
            
            
        }
        .hero-section-image .img-style{
          
            width: 100%;
          
        }
   
   }



@media only screen and (max-width: 1030px){


    .hero .wrapper-content {
        display: flex;
        flex-direction : column;
        gap: 2rem;
       
       }

       .hero .text-area{

        padding: 0rem 0.2rem;

    }

    .hero-section-image{
        width: 100%;
     
        
        
    }
    .hero-section-image .img-style{
      
        width: 100%;
      
    }
   


}   


/* @media only screen and (min-width: 1030px){

    .hero{
        
        padding: 2rem 0rem;
        padding-top: 5rem;
    }


    .hero .wrapper-content {
        display: flex;
        flex-direction : column;
        gap: 2rem;
       
       }

       .hero .text-area{

        padding: 0rem 0.2rem;

    }

    .hero-section-image{
        width: 100%;
     
        
        
    }
    .hero-section-image .img-style{
      
        width: 100%;
      
    }
   


}    */