.productsBar{
    margin-top: 4rem;
    padding: 0rem 0.2rem;
    /* background-color: rgb(150, 234, 234); */
    height: 250px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}


.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    /* background-color: antiquewhite; */
}


.productCard .imgWrapper{

     
    /* background-color: rgb(235, 76, 48); */
    border-radius: 50%;
    /* background: rgb(148,187,233);
    background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%); */
   
    background: rgb(148,187,233);
background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(243,103,131,1) 100%);

}

.productCard .imgWrapper img{
    height: 180px;
    /* background-color: rgb(11, 21, 29);
     */
    transform: scale(0.7);
    width: 180px;
    object-fit: contain;
   
}
.productCard .imgWrapper img:hover{
 
     
    transform: scale(0.8);
    transition: 0.4s ease;
   
}

.productCard .pContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.productCard .pContent .titleP{
 font-size: 1.2rem;
   
}


/* media queries start */

/* sm device */

@media only screen and (max-width: 600px){

    .productsBar{
        margin-top: 2rem;
        height: max-content;
        display: flex;
        gap: 0.4rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .productCard{
        width: 134px;
    }
    .productCard .imgWrapper img{
        height: 119px;
        width: 119px;
    }

    .productCard .pContent .titleP{
        font-size: 1rem;
          
       }
 
   
}


/* sm device media queries */

@media only screen and (max-width: 1030px){

    .productsBar{
        margin-top: 2rem;
        height: max-content;
        display: flex;
        gap: 0.8rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .productCard{
        width: 178px;
    }
    .productCard .imgWrapper img{
        height: 130px;
        width: 130px;
    }

    .productCard .pContent .titleP{
        font-size: 1rem;
          
       }


}


@media only screen and (min-width: 768px){
 

  .productCard{

    width: 185px;
  }
    
 
 
 }