.mainCon{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 9rem;
    gap: 0.7rem;
}

   
.errorInfo h2{
    font-size: 9rem;
}

.errorInfo h4{
    font-size: 3.5rem;
}

.errorInfo p{
  font-size: 1.08rem;
  color: gray;
  text-align: center;
}





@media  (max-width : 600px){
     
   .errorInfo{
    padding: 0rem 1rem;
   }

   
   .errorInfo h2{
    font-size: 5rem;
  }
  
  .errorInfo h4{
    font-size: 2rem;
}
    
}

@media only screen and (max-width: 992px) and (min-width: 600px){

    .errorInfo{
        padding: 0rem 2rem;
    }

    .errorInfo h2{
        font-size: 7rem;
    }
    .errorInfo h4{
        font-size: 2.8rem;
    }

    .errorInfo p{
       
        font-size: 1rem;

    }


}