.footer{
    height: auto;
    /* background-color: rgb(228, 149, 149); */
    border-top: 1px solid white;
    /* background-color: #9BA4B4; */
    background-color: #e9ecef;
}


.footer_area{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}




.text{
    display: flex;
    flex-direction: column;
    color: black;
}

.text .privacy{
  display: flex;
  font-size: 1.1rem;
  gap: 1rem;
}

.social-media{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.social-media .flex-a{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
   
    
}
.social-media .flex-a a{
   background-color: white;
   padding: 0.35rem 0.35rem;
   border-radius: 50%;
   
    
}

.social-media .about_footer{
    display: flex;
    gap: 1rem;
    color: black;
}


.down{
    padding: 2rem 0;
}

.down p{
    text-align: center;
    color: black;
    letter-spacing: 2px;
}

/* media queries start */

@media only screen and (max-width: 410px) and (min-width: 0px){
  
   .footer_area{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
   }
   .text{
      text-align: center;
   }
   .text .privacy{
      display: flex;
      font-size: 1rem;
      justify-content: center;
   }
   .social-media{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;
   }
   .social-media .flex-a{
      display: flex;
      gap: 1rem;
   
     
      
  }

   .social-media .about_footer{
      font-size: 0.7rem;
   }

   .down{

      padding: 1rem 0rem;

   }
   .down p{
      letter-spacing: 1px;
   }


}




@media only screen and (max-width: 600px) and (min-width: 410px){
 
     .footer_area{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
     }
     .text{
        text-align: center;
     }
     .text .privacy{
        display: flex;
        font-size: 1rem;
        justify-content: center;
     }
     .social-media{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        width: 100%;
     }
     .social-media .flex-a{
      display: flex;
      gap: 1rem;
   
     
      
  }

     .social-media .about_footer{
        font-size: 0.8rem;
     }

     .down{

        padding: 1rem 0rem;

     }
     .down p{
        letter-spacing: 1px;
     }
   
   }



   @media only screen and (max-width: 768px) and (min-width: 600px){

 
   .footer{
    
    padding: 0.8rem 1.7rem;
     
 

   }

   .setWidth{
    width: 93%;
   }

   .footer_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    padding-top: 2rem;
    width: 100%;
 }

 .titleF{
       
    font-size: 1.5rem;

 }

 .text .privacy{
    display: flex;
    font-size: 0.8rem;
    gap: 1rem;
 }

 .social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    width: 100%;
 }

 .social-media .about_footer{
   font-size: 0.8rem;
 }



}
  
/* sm device mq */


/* @media only screen and (max-width: 768px){
  
    
   .text{
      display: flex;
      flex: 1;
   }

   .social-media{
     
      display: flex;
      align-items: end;
      flex: 2;

   }


} */